TELOXIDE_TOKEN=""
LOCAL_KEY="http://"
ALCHEMY_ETH_KEY="https://"
ALCHEMY_BSC_KEY="https:/"
ALCHEMY_ARB_KEY="https:"
ALCHEMY_OPT_KEY="https:"
ALCHEMY_POLY_KEY="https:/"
ENCRYPT_KEY_1=""
ENCRYPT_KEY_2=""
ENCRYPT_KEY_3=""
ENCRYPT_RANDOM=""
ETHERSCAN_KEY=""
BSCSCAN_KEY=""
ARBISCAN_KEY=""
ONEINCH_API=""
ACCESS_PASS=""
HASHPASS=""
